.login_form input {
  height: 36px;
  padding: 3px 10px;
  border: 0;
  border-bottom: 1px solid #555;
}
.login_form :global(.ant-input) {
  border: none;
  border-bottom: 1px solid #000;
}
.login_form :global(.ant-input:focus) {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #000;
}
